{% extends "base.html" %}

{% block body %}
    <div class="message_form col-lg-6">
        {% if message %}
            <div class="col-lg-12">
                <p>{{Message}}</p>
            </div>
        {% endif %}
        {% if health_centers_found %}
            <div class="col-lg-12">
                <h3>The following Health Centers were found</h3>
                <p>{{ health_centers_found }}</p>
            </div>
        {% endif %}
        <form action="/sms_message" method="POST" class="form-horizontal" role="form">
            <legend style="text-align: center">Send a Request</legend>
            <div>
                <label for="message">Message: </label>
                <textarea class="form-control" name="message" id="message" rows="5" cols="10"></textarea>
            </div>
            <br>
            <input class="btn btn-primary" name="send_message_button" id="send_message_button" value="Send" type="submit">
        </form>
    </div>
{% endblock %}
